.body {
  margin: 0;
}
.screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 48px;
  color: white;
  text-align: center;
  padding: 32px 0 24px 0;
}

.dayListContainer {
  display: flex;
  flex-direction: column;
  justify-content: "center";
  align-items: center;
}
